<div id="wrapper">
	{{> layouts/areas/header}}
	<div id="sidebar-wrapper">
		{{> layouts/areas/menu}}
	</div>
	<div class="container" id="content">
		{{{content}}}
	</div>
	{{> layouts/areas/footer}}
</div>