<div class="login shadow-z-2">
	<form class="form-horizontal" onsubmit="return false;">
		<img src="/img/logo.png" class="logo"/>
		<br/>
		<h2 class="text-center">Рабочий кабинет</h2>
		<span class="label label-danger" id="error"></span>
		<br/>

		<div class="row">
			<div class="col-lg-12">
				<input name="login" placeholder="Логин" type="text" class="form-control floating-label">
			</div>
			<div class="col-lg-12">
				<input name="password" placeholder="Пароль" type="password" class="form-control floating-label">
			</div>
			<div class="actions">
				<button id="login" class="btn btn-material-light-blue">Вход</button>
			</div>
		</div>
	</form>
</div>