<ul class="sidebar-nav">
	<li><a href="/">Рабочий стол</a></li>
	<li><a href="/clients/list">Клиенты</a></li>
	<li><a href="/projects/list">Проекты</a></li>
	<li><a href="/tasks/list">Задачи</a></li>
</ul>

